<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="Statistics"></h3>
        </div>
        <div class="panel-body">
            <label>Proposals created:</label><span th:text="${proposals}"></span>
            <br/>
            <label>Excursions created:</label><span th:text="${excursions}"></span>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>