<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="(${create} ? #{cc.new} : #{cc.edit}) + ' ' + #{proposals.title.form}"></h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:action="@{/proposals/save}" method="post" th:object="${proposal}">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{parent.id}"/>
                <div class="form-group">
                    <label for="departure-place" class="col-sm-2 control-label"
                           th:text="#{proposals.departure.place}"></label>
                    <div class="col-sm-10">
                        <input id="departure-place" class="form-control" th:field="*{departurePlace}"
                               required="required" th:readonly="${!create}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="departure-time" class="col-sm-2 control-label"
                           th:text="#{proposals.departure.time}"></label>
                    <div class="col-sm-10">
                        <input type="time" id="departure-time" class="form-control" th:field="*{departureTime}"
                               required="required" th:readonly="${!create}"/>
                    </div>
                </div>
                <input type="hidden" th:field="*{excursion.id}"/>
                <div class="form-group">
                    <label for="excursion" class="col-sm-2 control-label" th:text="#{proposals.excursion}"></label>
                    <div class="col-sm-10">
                        <input id="excursion" class="form-control" th:field="*{excursion.destination}"
                               readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="car" class="col-sm-2 control-label" th:text="#{proposals.car.model}"></label>
                    <div class="col-sm-10">
                        <select id="car" class="form-control" th:field="*{car.id}" required="required"
                                th:readonly="${!create}">
                            <option value="" th:text="#{cc.select}" selected="selected"></option>
                            <option th:each="car : ${cars}" th:value="${car.id}"
                                    th:text="${car.model}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="children" class="col-sm-2 control-label" th:text="#{proposals.children}"></label>
                    <div class="col-sm-10">
                        <select multiple="multiple" id="children" class="form-control" th:field="*{children}"
                                required="required">
                            <option th:each="child : ${children}" th:value="${child.id}"
                                    th:text="${child.firstName}" selected="selected"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" th:value="#{cc.save}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>