<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="list-controls" sec:authorize="hasAnyAuthority('PARENT')">
        <a th:href="@{/proposals/create}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> <span th:text="#{cc.new}"></span>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th th:text="#{cc.rowNbr}"></th>
                <th th:text="#{proposals.excursion}"></th>
                <th th:text="#{proposals.departurePlace}"></th>
                <th th:text="#{proposals.car.model}"></th>
                <th th:text="#{cc.actions}"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="proposal,iter : ${proposals}">
                <td th:text="${iter.index+1}">N/A</td>
                <td th:text="${proposal.excursion.destination}"></td>
                <td th:text="${proposal.departurePlace}">N/A</td>
                <td th:text="${proposal.car.model}">N/A</td>
                <td class="actions-col">
                    <span sec:authorize="hasAnyAuthority('PARENT')">
                        <a th:href="@{/proposals/edit/__${proposal.id}__}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span> <span th:text="#{cc.edit}"></span>
                        </a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>