<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="panel panel-default" th:each="excursion : ${excursions}">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${excursion.destination}"></h3>
        </div>
        <div class="panel-body">
            <div class="list-controls" sec:authorize="hasAnyAuthority('PARENT')">
                <a th:href="@{/proposals/create/__${excursion.id}__}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span> <span th:text="#{cc.new}"></span>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{cc.rowNbr}"></th>
                        <th th:text="#{proposals.departure.place}"></th>
                        <th th:text="#{proposals.departure.time}"></th>
                        <th th:text="#{proposals.car.model}"></th>
                        <th th:text="#{proposals.car.seats}"></th>
                        <th th:text="#{cc.actions}"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="proposal,iter : ${excursion.proposals}">
                        <td th:text="${iter.index+1}">N/A</td>
                        <td th:text="${proposal.departurePlace}">N/A</td>
                        <td th:text="${#dates.format(proposal.departureTime, #messages.msg('cc.format.time'))}">N/A</td>
                        <td th:text="${proposal.car.model}">N/A</td>
                        <td th:text="${proposal.car.seats}">N/A</td>
                        <td class="actions-col">
                            <span sec:authorize="hasAnyAuthority('PARENT')">
                                <a th:href="@{/proposals/select/__${proposal.id}__}" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span> <span
                                        th:text="#{proposals.select}"></span>
                                </a>
                            </span>
                            <span th:if="${proposal.parent.username == #authentication.name}"
                                  sec:authorize="hasAnyAuthority('PARENT')">
                                <a href="#" data-toggle="modal" data-target="#remove" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span> <span
                                        th:text="#{cc.delete}"></span>
                                </a>
                            </span>
                        </td>
                        <div class="modal fade" id="remove" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h3 class="modal-title" id="myModalLabel"
                                            th:text="#{proposals.remove.title}"></h3>
                                    </div>
                                    <div class="modal-body" th:text="#{proposals.remove.confirm}">

                                    </div>
                                    <div class="modal-footer">
                                        <form th:action="@{/proposals/remove/__${proposal.id}__}" method="post">
                                            <button type="submit" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-trash"></span> <span
                                                    th:text="#{cc.delete}"></span>
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                <span th:text="#{cc.close}"></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>