<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span th:text="#{cc.new}"></span> Excursions</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:action="@{/excursions/save}" method="post" th:object="${excursion}">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="destination" class="col-sm-2 control-label"
                           th:text="#{excursions.destination}">:</label>
                    <div class="col-sm-10">
                        <input id="destination" class="form-control" th:field="*{destination}" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startDate" class="col-sm-2 control-label" th:text="#{excursions.startDate}"> :</label>
                    <div class="col-sm-10">
                        <input id="startDate" type="date" class="form-control" th:field="*{startDate}" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endDate" class="col-sm-2 control-label" th:text="#{excursions.endDate}"> :</label>
                    <div class="col-sm-10">
                        <input id="endDate" type="date" class="form-control" th:placeholder="#{startDate}" th:field="*{endDate}" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label"
                           th:text="#{excursions.description}">:</label>
                    <div class="col-sm-10">
                        <textarea id="description" class="form-control" th:field="*{description}" required="required">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" th:value="#{cc.save}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>