<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: menu"></div>

<div class="container">
    <div class="list-controls" sec:authorize="hasAnyAuthority('ADMIN')">
        <a th:href="@{/excursions/new}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> <span th:text="#{cc.new}"></span>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th th:text="#{cc.rowNbr}"></th>
                <th th:text="#{excursions.destination}"></th>
                <th th:text="#{excursions.startDate}"></th>
                <th th:text="#{excursions.endDate}"></th>
                <th th:text="#{excursions.description}"></th>
                <th th:text="#{cc.actions}"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="excursion,iter : ${excursions}">
                <td th:text="${iter.index+1}">N/A</td>
                <td th:text="${excursion.destination}">N/A</td>
                <td th:text="${#dates.format(excursion.startDate, #messages.msg('cc.format.date'))}">N/A</td>
                <td th:text="${#dates.format(excursion.endDate, #messages.msg('cc.format.date'))}">N/A</td>
                <td th:text="${excursion.description}">N/A</td>
                <td class="actions-col">
                    <span sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/excursions/edit/__${excursion.id}__}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span> <span th:text="#{cc.edit}"></span>
                        </a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>