<div xmlns:th="http://www.thymeleaf.org" id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          
            <li><a><i class="fa fa-table"></i> Sth <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                <li><a th:href="@{/country/add}">Add sth</a></li>
                    <li><a th:href="@{/country}">List Of sth</a></li>
                    
                </ul>
            </li>
             
            <li><a><i class="fa fa-bar-chart-o"></i> Statistiques <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                   
                    <li><a href="#echarts.html">blabla</a></li>
                    <li><a href="#other_charts.html">blabla</a></li>
                </ul>
            </li>
           
        </ul>
    </div>
    

</div>
