<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header-css">
    <meta charset="UTF-8"/>
    <title th:text="#{name}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}" th:text="#{name}"></a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/parents}" th:text="#{parents.title}"></a>
                    </li>
                    <li sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/groups}" th:text="#{groups.title}"></a>
                    </li>
                    <li sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/excursions}" th:text="#{excursions.title}"></a>
                    </li>
                    <li sec:authorize="hasAnyAuthority('ADMIN','PARENT')">
                        <a th:href="@{/proposals}" th:text="#{proposals.title}"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}" th:text="#{cc.login}"></a></li>
                    <li sec:authorize="isAuthenticated()" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> <span sec:authentication="name"></span> <span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/logout}" th:text="#{cc.logout}"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>